header {
    font-family: Liberation Sans;
    font-size: 13px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 400;
}

footer {
    font-family: Liberation Sans;
    bottom: 0;
    font-size: 16px;
    height: 35px;
    position: fixed;
    z-index: 104;
    width: 100%;
    display: block;
}

#fbar {
    background-color: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4
}

#advert {
    color: rgba(0, 0, 0, .54);
    margin-left: 23px;
}

#buss {
    color: rgba(0, 0, 0, .54);
    margin-left: 66px;
}

#hsw {
    color: rgba(0, 0, 0, .54);
    bottom: 0
    left: 0;
    position: absolute;
    right: 0;
}

#priv {
    color: rgba(0, 0, 0, .54);
    margin-left: 30px;
    float: right;
    margin-right: 30px;
}

#terms {
    color: rgba(0, 0, 0, .54);
    padding:-left: 27px;
    margin-left: 30px;
    text-aling: left;
}