#header {
    font-family: Liberation Sans;
    font-size: 13px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 400;
    color: #222;
}

#abt {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}

#store {
    display: inline-block;
    padding-left: 15px;
    margin-right: 1000px;
    color: #000;
    opacity: 0.75;
}

#gmail {
    display: inline-block;
    text-align: right;
    padding-right: 15px;
    line-height: normal;
    white-space: nowrap;
}

#pics {
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

#image {
    padding-top: 109px;
    width: 272;
    height: 
}

#footer {
    font-family: Liberation Sans;
    bottom: 0;
    font-size: 15px;
    height: 35px;
    position: fixed;
    z-index: 104;
    width: 100%;
    display: block;
}

#fbar {
    background-color: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
}

#fbarright {
    float: right;
    margin-right: 30px;
    white-space: nowrap;
}

#advert {
    color: rgba(0, 0, 0, .54);
    margin-left: 23px;
}

#buss {
    color: rgba(0, 0, 0, .54);
    margin-left: 46px;
}

#hsw {
    color: rgba(0, 0, 0, .54);
    padding-left: 40px;
    margin-left: 96;
}

#priv {
    color: rgba(0, 0, 0, .54);
    margin-left: 30px;
    float: right;
    margin-right: 30px;
}

#terms {
    color: rgba(0, 0, 0, .54);
    padding: -left 27px;
    margin-left: 30px;
    text-align: left;
}

#set {
    color: rgba(0, 0, 0, .54);
    margin-right: 
}